@{
    ViewData["Title"] = "View360";
}

<div class="container-fluid">
    <h1 class="h3 mb-3">View360</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <p class="mb-0">View360 goruntu map elave</p>
        </div>
    </div>
</div>
