@{
    ViewData["Title"] = "Komandalar";
}

<div class="container-fluid">
    <h1 class="h3 mb-3">Komandalar</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <p class="mb-0">Burada komandalar olacaq.</p>
        </div>
    </div>
</div>
