@{
    ViewData["Title"] = "Xəritə";
}

<div class="container-fluid">
    <h1 class="h3 mb-3">Xəritə</h1>

    <div class="card shadow-sm">
        <div class="card-body">
            <p class="mb-0">"Burada xəritə olacaq.</p>
        </div>
    </div>
</div>


